form.form-style {
  padding: 50px;
  background-color: #000000;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
span.err {
  color: red;
}
span.err {
  font-size: 13px;
  color: red;
}
.create-style {
  width: 47%;
}
button.primary {
  border: none;
  border-radius: 12px;
  background-color: green !important;
  padding: 7px 30px !important;
  color: white;
}
button.danger {
  border: none;
  border-radius: 12px;
  background-color: red !important;
  padding: 7px 30px !important;
  color: white;
}
table.table {
  color: white;
}
.create-style {
  width: 35%;
}
h1 {
  font-size: 23px !important;
  padding: 21px 1px;
}
button.btn.btn-primary {
  margin: 6px;
}
input.departmentWise {
  width: 24%;
  padding: 5px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.custom-select {
  position: relative;
  font-family: Arial;
  background-color: #e3cbcb;
  padding: 9px;
  margin-left: 21px;
  border-radius: 6px;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
